button {
  font-size: 2em;
  margin-left: 20px;
  background-color: rgb(56, 92, 255);
  color: #fff;
  border: 0px solid #fff;
}

button:hover {
  background-color: rgb(123, 147, 251);
  color: #000;
  font-weight: 600;
}
